*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #222425;
  font-family: 'Montserrat', sans-serif;
}
/*header-nav*/
.header-nav{
  position: fixed;
  z-index: 2;
  top:0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #222425;
  border-bottom: 1px solid #C0C0C0;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 70%;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px solid #C0C0C0;
}
/*logo*/
.logo{
  width: 20%;
}
.img_logo{
  width: 50%;
  vertical-align: middle;
  text-align: justify;
}
.list-nav{
  width: 50%;
}
/*list-menu*/
.list-menu li{
  display: inline-block;
  list-style: none;
}
.margin_left_20{
  margin-left: 20px;
}
.list-menu li a {
  text-decoration: none;
  font-size: 14px;
  color: #C0C0C0;
  text-transform: capitalize;
}
.list-menu li:hover a{
  color: #fff;
}
.list-menu li:hover .border_bottom{
  padding-bottom: 5px;
  border-bottom: 3px solid #4a84a2;
}
.btn{
  height: 30px;
  padding: 5px 10px;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0) ;
  overflow: hidden;
  border-radius: 2px;
  border: 2px solid #9f9831;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}
.btn_border_grey{
  border: 2px solid #C0C0C0;
}
button:hover{
  color: #9f9831;
  background-color: rgba(0, 0, 0, 0.3);
}

#burger{
  visibility: hidden;
  color: #fff;
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
}
/*heder-jumbo*/
.header-jumbo{
  margin-top: 170px;
  background: linear-gradient(#232424, #202527);
}
/*jumbo-text*/
.jumbo_text{
  width: 55%;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  color: #C0C0C0;
}
.title_jumbo{
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
}
.title_xs{
  visibility: hidden;
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}
.header-jumbo p {
  margin-bottom: 25px;
}
.jumbo_text button{
  width: 25%;
  height: 25%;
}
.img_jumbo{
  width: 70%;
  margin: 0 auto;
}
.image_jumbo{
  width: 100%;
  margin-top: 30px;
}
/*main*/
/*section logs*/
.logs{
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #C0C0C0;
}
.container-logs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  background-color: pink;
}
.logo{
  width: calc(100% / 5);
  overflow: hidden;

}
.img_logs{
  width: 500px;
  height: 100px;
}
@media screen and (max-width: 945px){
  .list-menu{
    display: none;
  }
  #burger{
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 100px;
    vertical-align: middle;
  }
  .img_logo{
    width: 100%;
  }

  .title_jumbo{
    visibility: hidden;
  }
  #title_xs{
    visibility: visible;
    margin-top: 10px;
  }
  .img_jumbo,
  .jumbo_text{
    width: 90%;
  }
  #btn{
    width: 70%;
    height: 50px;
  }
}
