*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: red;
}
/*header-nav*/
.header-nav{
  display: fixed;
  width: 100%;
  line-height: 100px;
  height: 100px;
  background-color: yellow;
  border-bottom: 2px solid black;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  background-color: orange;
  border-bottom: 2px solid black;
}
/*logo*/
.logo{
  width: 20%;
  background-color: green;
}
.img_logo{
  width: 45%;
  vertical-align: middle;
  text-align: justify;
}
.list-nav{
  width: 40%;
  background-color: purple;
}
/*list-menu*/
.list-menu li{
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
.btn{
  width: 70px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid black;
}
